## EDA for the Airbnb data

In [9]:
import pandas as pd
import numpy as np

### Loading Data from google drive

In [7]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [22]:
df_newyork = pd.read_csv("/content/drive/MyDrive/Capstone/listings_Newyork.csv")
df_newjersey = pd.read_csv("/content/drive/MyDrive/Capstone/listings_Newjersey.csv")
df_washington_DC = pd.read_csv("/content/drive/MyDrive/Capstone/listings_washington_DC.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (68) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Printing top 5 rows in a dataset

In [39]:
df_newyork.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20221204162430,2022-12-05,city scrape,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,...,4.80,4.81,4.40,NaN,f,3,3,0,0,0.31
1,5203,https://www.airbnb.com/rooms/5203,20221204162430,2022-12-05,previous scrape,Cozy Clean Guest Room - Family Apt,"Our best guests are seeking a safe, clean, spa...",Our neighborhood is full of restaurants and ca...,https://a0.muscache.com/pictures/103776/b37157...,7490,...,4.95,4.94,4.92,NaN,f,1,0,1,0,0.73
2,5136,https://www.airbnb.com/rooms/5136,20221204162430,2022-12-04,city scrape,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,...,5.00,4.67,5.00,NaN,f,1,1,0,0,0.03
3,5121,https://www.airbnb.com/rooms/5121,20221204162430,2022-12-05,city scrape,BlissArtsSpace!,One room available for rent in a 2 bedroom apt...,NaN,https://a0.muscache.com/pictures/2090980c-b68e...,7356,...,4.91,4.47,4.52,NaN,f,2,0,2,0,0.30
4,6848,https://www.airbnb.com/rooms/6848,20221204162430,2022-12-05,city scrape,Only 2 stops to Manhattan studio,Comfortable studio apartment with super comfor...,NaN,https://a0.muscache.com/pictures/e4f031a7-f146...,15991,...,4.80,4.67,4.56,NaN,f,1,1,0,0,1.13

In [48]:
df_newyork['location'] = 'New york' # assigning New york column to New york dataset

In [49]:
df_newjersey.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,62033,https://www.airbnb.com/rooms/62033,20221230232109,2022-12-31,city scrape,LARGE BEDROOM IN HISTORIC DISTRICT,<b>The space</b><br />LOCATED IN HISTORIC FORE...,3 BLOCKS AWAY ; THERE IS A COMMERCIAL STRIP TH...,https://a0.muscache.com/pictures/62129333/881f...,301435,...,4.92,4.72,4.86,NaN,f,1,0,1,0,0.52
1,1975091,https://www.airbnb.com/rooms/1975091,20221230232109,2022-12-31,city scrape,"Hello World, Welcome to Newark!!!!",Large comfy walk-in closet wifi ...just nice a...,Great location for medical and dental students...,https://a0.muscache.com/pictures/74210735/f0a9...,9169027,...,4.90,3.96,4.71,NaN,t,5,0,5,0,0.82
2,2159185,https://www.airbnb.com/rooms/2159185,20221230232109,2022-12-31,city scrape,Hello World! Zen room. New photos coming soon.,this is great for medical students and doctors...,NaN,https://a0.muscache.com/pictures/80976212/abec...,9169027,...,4.94,4.17,4.74,NaN,f,5,0,5,0,0.90
3,2277901,https://www.airbnb.com/rooms/2277901,20221230232109,2022-12-31,city scrape,Luxury Muwuyu Queen enSuite @MushaindoroHS,We don't do ordinary at Mushaindoro Hospitalit...,Mushaindoro Hospitality suites are a perfect t...,https://a0.muscache.com/pictures/d89a51a0-e47b...,11308972,...,4.84,4.54,4.72,NaN,f,3,1,2,0,0.48
4,2278440,https://www.airbnb.com/rooms/2278440,20221230232109,2022-12-31,city scrape,Luxury Musasa Queen Suite @ MushaindoroHS,Authentic Shona chevron design is a signature ...,Mushaindoro Hospitality suites are a perfect t...,https://a0.muscache.com/pictures/74624eac-b96b...,11308972,...,4.95,4.52,4.75,NaN,f,3,1,2,0,0.41

In [50]:
df_newjersey['location'] = 'New Jersey'

In [51]:
df_washington_DC.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3686,https://www.airbnb.com/rooms/3686,20221220053924,2022-12-20,city scrape,Vita's Hideaway,IMPORTANT NOTES<br />* Carefully read and be s...,We love that our neighborhood is up and coming...,https://a0.muscache.com/pictures/61e02c7e-3d66...,4645,...,4.83,3.86,4.62,NaN,f,1,0,1,0,0.55
1,196429,https://www.airbnb.com/rooms/196429,20221220053924,2022-12-20,city scrape,"Takoma Garden apt-Lush yard,pets ok",Private Garden apt in SF home with Full size b...,Small town feel in big city. Takoma Park is a...,https://a0.muscache.com/pictures/1768756/9d738...,956417,...,5.00,4.60,4.20,NaN,f,1,1,0,0,0.06
2,198685,https://www.airbnb.com/rooms/198685,20221220053924,2022-12-20,city scrape,Private room in central location.,"Welcome, I'm happy to share my home with you. ...",The neighborhood is quiet for the most part bu...,https://a0.muscache.com/pictures/06e92870-bb6e...,966613,...,4.82,4.45,4.68,NaN,f,1,0,1,0,1.12
3,201116,https://www.airbnb.com/rooms/201116,20221220053924,2022-12-20,city scrape,Victorian Haven - Private Basement!,<b>The space</b><br />Come stay with us in my ...,NaN,https://a0.muscache.com/pictures/1841088/7148a...,983611,...,4.81,4.84,4.55,Hosted License: 5007242201001837,f,1,1,0,0,1.60
4,204741,https://www.airbnb.com/rooms/204741,20221220053924,2022-12-20,city scrape,1-Suburbia in the City--Best Value!!!,Budget-friendly room in a working-class neighb...,This is a working-class residential neighborho...,https://a0.muscache.com/pictures/780eea72-7c59...,1005751,...,4.66,3.75,4.62,NaN,f,2,0,2,0,0.85

In [52]:
df_washington_DC['location'] = 'Washington D.C'

### Printing shape of datasets

In [53]:
df_newyork.shape

(41533, 76)

In [54]:
df_newjersey.shape

(1260, 76)

In [55]:
df_washington_DC.shape

(6217, 76)

### info and data types for the dataset

In [56]:
df_newyork.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41533 entries, 0 to 41532
Data columns (total 76 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            41533 non-null  int64
 1   listing_url                                   41533 non-null  object
 2   scrape_id                                     41533 non-null  int64
 3   last_scraped                                  41533 non-null  object
 4   source                                        41533 non-null  object
 5   name                                          41520 non-null  object
 6   description                                   40747 non-null  object
 7   neighborhood_overview                         24089 non-null  object
 8   picture_url                                   41533 non-null  object
 9   host_id                                       41533 non-null  int64
 10  host_url                                      41533 non-null  object
 11  host_name                                     41528 non-null  object
 12  host_since                                    41528 non-null  object
 13  host_location                                 33788 non-null  object
 14  host_about                                    23221 non-null  object
 15  host_response_time                            27888 non-null  object
 16  host_response_rate                            27888 non-null  object
 17  host_acceptance_rate                          29322 non-null  object
 18  host_is_superhost                             41504 non-null  object
 19  host_thumbnail_url                            41528 non-null  object
 20  host_picture_url                              41528 non-null  object
 21  host_neighbourhood                            33344 non-null  object
 22  host_listings_count                           41528 non-null  float64
 23  host_total_listings_count                     41528 non-null  float64
 24  host_verifications                            41533 non-null  object
 25  host_has_profile_pic                          41528 non-null  object
 26  host_identity_verified                        41528 non-null  object
 27  neighbourhood                                 24090 non-null  object
 28  neighbourhood_cleansed                        41533 non-null  object
 29  neighbourhood_group_cleansed                  41533 non-null  object
 30  latitude                                      41533 non-null  float64
 31  longitude                                     41533 non-null  float64
 32  property_type                                 41533 non-null  object
 33  room_type                                     41533 non-null  object
 34  accommodates                                  41533 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                41456 non-null  object
 37  bedrooms                                      37711 non-null  float64
 38  beds                                          40592 non-null  float64
 39  amenities                                     41533 non-null  object
 40  price                                         41533 non-null  object
 41  minimum_nights                                41533 non-null  int64
 42  maximum_nights                                41533 non-null  int64
 43  minimum_minimum_nights                        41519 non-null  float64
 44  maximum_minimum_nights                        41519 non-null  float64
 45  minimum_maximum_nights                        41519 non-null  float64
 46  maximum_maximum_nights                        41519 non-null  float64
 47  minimum_nights_avg_ntm                        41519 non-null  float64
 48  maximum_nights_avg_ntm                        41519 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              41533 non-null  object
 51  availability_30                               41533 non-null  int64
 52  availability_60                               41533 non-null  int64
 53  availability_90                               41533 non-null  int64
 54  availability_365                              41533 non-null  int64
 55  calendar_last_scraped                         41533 non-null  object
 56  number_of_reviews                             41533 non-null  int64
 57  number_of_reviews_ltm                         41533 non-null  int64
 58  number_of_reviews_l30d                        41533 non-null  int64
 59  first_review                                  32140 non-null  object
 60  last_review                                   32140 non-null  object
 61  review_scores_rating                          32140 non-null  float64
 62  review_scores_accuracy                        31692 non-null  float64
 63  review_scores_cleanliness                     31702 non-null  float64
 64  review_scores_checkin                         31688 non-null  float64
 65  review_scores_communication                   31697 non-null  float64
 66  review_scores_location                        31685 non-null  float64
 67  review_scores_value                           31685 non-null  float64
 68  license                                       1 non-null      object
 69  instant_bookable                              41533 non-null  object
 70  calculated_host_listings_count                41533 non-null  int64
 71  calculated_host_listings_count_entire_homes   41533 non-null  int64
 72  calculated_host_listings_count_private_rooms  41533 non-null  int64
 73  calculated_host_listings_count_shared_rooms   41533 non-null  int64
 74  reviews_per_month                             32140 non-null  float64
 75  location                                      41533 non-null  object
dtypes: float64(22), int64(17), object(37)
memory usage: 24.1+ MB

In [57]:
df_newjersey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260 entries, 0 to 1259
Data columns (total 76 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            1260 non-null   int64
 1   listing_url                                   1260 non-null   object
 2   scrape_id                                     1260 non-null   int64
 3   last_scraped                                  1260 non-null   object
 4   source                                        1260 non-null   object
 5   name                                          1260 non-null   object
 6   description                                   1210 non-null   object
 7   neighborhood_overview                         633 non-null    object
 8   picture_url                                   1260 non-null   object
 9   host_id                                       1260 non-null   int64
 10  host_url                                      1260 non-null   object
 11  host_name                                     1260 non-null   object
 12  host_since                                    1260 non-null   object
 13  host_location                                 849 non-null    object
 14  host_about                                    675 non-null    object
 15  host_response_time                            1121 non-null   object
 16  host_response_rate                            1121 non-null   object
 17  host_acceptance_rate                          1132 non-null   object
 18  host_is_superhost                             1260 non-null   object
 19  host_thumbnail_url                            1260 non-null   object
 20  host_picture_url                              1260 non-null   object
 21  host_neighbourhood                            1032 non-null   object
 22  host_listings_count                           1260 non-null   int64
 23  host_total_listings_count                     1260 non-null   int64
 24  host_verifications                            1260 non-null   object
 25  host_has_profile_pic                          1260 non-null   object
 26  host_identity_verified                        1260 non-null   object
 27  neighbourhood                                 633 non-null    object
 28  neighbourhood_cleansed                        1260 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      1260 non-null   float64
 31  longitude                                     1260 non-null   float64
 32  property_type                                 1260 non-null   object
 33  room_type                                     1260 non-null   object
 34  accommodates                                  1260 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                1260 non-null   object
 37  bedrooms                                      1221 non-null   float64
 38  beds                                          1227 non-null   float64
 39  amenities                                     1260 non-null   object
 40  price                                         1260 non-null   object
 41  minimum_nights                                1260 non-null   int64
 42  maximum_nights                                1260 non-null   int64
 43  minimum_minimum_nights                        1260 non-null   int64
 44  maximum_minimum_nights                        1260 non-null   int64
 45  minimum_maximum_nights                        1260 non-null   int64
 46  maximum_maximum_nights                        1260 non-null   int64
 47  minimum_nights_avg_ntm                        1260 non-null   float64
 48  maximum_nights_avg_ntm                        1260 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              1260 non-null   object
 51  availability_30                               1260 non-null   int64
 52  availability_60                               1260 non-null   int64
 53  availability_90                               1260 non-null   int64
 54  availability_365                              1260 non-null   int64
 55  calendar_last_scraped                         1260 non-null   object
 56  number_of_reviews                             1260 non-null   int64
 57  number_of_reviews_ltm                         1260 non-null   int64
 58  number_of_reviews_l30d                        1260 non-null   int64
 59  first_review                                  1049 non-null   object
 60  last_review                                   1049 non-null   object
 61  review_scores_rating                          1049 non-null   float64
 62  review_scores_accuracy                        1049 non-null   float64
 63  review_scores_cleanliness                     1049 non-null   float64
 64  review_scores_checkin                         1049 non-null   float64
 65  review_scores_communication                   1049 non-null   float64
 66  review_scores_location                        1049 non-null   float64
 67  review_scores_value                           1049 non-null   float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              1260 non-null   object
 70  calculated_host_listings_count                1260 non-null   int64
 71  calculated_host_listings_count_entire_homes   1260 non-null   int64
 72  calculated_host_listings_count_private_rooms  1260 non-null   int64
 73  calculated_host_listings_count_shared_rooms   1260 non-null   int64
 74  reviews_per_month                             1049 non-null   float64
 75  location                                      1260 non-null   object
dtypes: float64(18), int64(23), object(35)
memory usage: 748.2+ KB

In [58]:
df_washington_DC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6217 entries, 0 to 6216
Data columns (total 76 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            6217 non-null   int64
 1   listing_url                                   6217 non-null   object
 2   scrape_id                                     6217 non-null   int64
 3   last_scraped                                  6217 non-null   object
 4   source                                        6217 non-null   object
 5   name                                          6217 non-null   object
 6   description                                   6165 non-null   object
 7   neighborhood_overview                         4155 non-null   object
 8   picture_url                                   6217 non-null   object
 9   host_id                                       6217 non-null   int64
 10  host_url                                      6217 non-null   object
 11  host_name                                     6217 non-null   object
 12  host_since                                    6217 non-null   object
 13  host_location                                 5361 non-null   object
 14  host_about                                    4107 non-null   object
 15  host_response_time                            4892 non-null   object
 16  host_response_rate                            4892 non-null   object
 17  host_acceptance_rate                          5325 non-null   object
 18  host_is_superhost                             6212 non-null   object
 19  host_thumbnail_url                            6217 non-null   object
 20  host_picture_url                              6217 non-null   object
 21  host_neighbourhood                            5906 non-null   object
 22  host_listings_count                           6217 non-null   int64
 23  host_total_listings_count                     6217 non-null   int64
 24  host_verifications                            6217 non-null   object
 25  host_has_profile_pic                          6217 non-null   object
 26  host_identity_verified                        6217 non-null   object
 27  neighbourhood                                 4155 non-null   object
 28  neighbourhood_cleansed                        6217 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      6217 non-null   float64
 31  longitude                                     6217 non-null   float64
 32  property_type                                 6217 non-null   object
 33  room_type                                     6217 non-null   object
 34  accommodates                                  6217 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                6211 non-null   object
 37  bedrooms                                      5634 non-null   float64
 38  beds                                          6072 non-null   float64
 39  amenities                                     6217 non-null   object
 40  price                                         6217 non-null   object
 41  minimum_nights                                6217 non-null   int64
 42  maximum_nights                                6217 non-null   int64
 43  minimum_minimum_nights                        6216 non-null   float64
 44  maximum_minimum_nights                        6216 non-null   float64
 45  minimum_maximum_nights                        6216 non-null   float64
 46  maximum_maximum_nights                        6216 non-null   float64
 47  minimum_nights_avg_ntm                        6216 non-null   float64
 48  maximum_nights_avg_ntm                        6216 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              6217 non-null   object
 51  availability_30                               6217 non-null   int64
 52  availability_60                               6217 non-null   int64
 53  availability_90                               6217 non-null   int64
 54  availability_365                              6217 non-null   int64
 55  calendar_last_scraped                         6217 non-null   object
 56  number_of_reviews                             6217 non-null   int64
 57  number_of_reviews_ltm                         6217 non-null   int64
 58  number_of_reviews_l30d                        6217 non-null   int64
 59  first_review                                  4925 non-null   object
 60  last_review                                   4925 non-null   object
 61  review_scores_rating                          4925 non-null   float64
 62  review_scores_accuracy                        4901 non-null   float64
 63  review_scores_cleanliness                     4901 non-null   float64
 64  review_scores_checkin                         4901 non-null   float64
 65  review_scores_communication                   4901 non-null   float64
 66  review_scores_location                        4901 non-null   float64
 67  review_scores_value                           4901 non-null   float64
 68  license                                       3373 non-null   object
 69  instant_bookable                              6217 non-null   object
 70  calculated_host_listings_count                6217 non-null   int64
 71  calculated_host_listings_count_entire_homes   6217 non-null   int64
 72  calculated_host_listings_count_private_rooms  6217 non-null   int64
 73  calculated_host_listings_count_shared_rooms   6217 non-null   int64
 74  reviews_per_month                             4925 non-null   float64
 75  location                                      6217 non-null   object
dtypes: float64(21), int64(19), object(36)
memory usage: 3.6+ MB

### Summary of dataset

In [59]:
df_newyork.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,4.153300e+04,4.153300e+04,4.153300e+04,41528.000000,41528.000000,41533.000000,41533.000000,41533.000000,0.0,37711.000000,...,31702.000000,31688.000000,31697.000000,31685.000000,31685.000000,41533.000000,41533.000000,41533.000000,41533.000000,32140.000000
mean,1.728318e+17,2.022120e+13,1.400636e+08,86.616211,136.263316,40.728292,-73.944526,2.958178,NaN,1.379544,...,4.633394,4.816262,4.812526,4.737531,4.646735,20.626803,11.310139,9.198517,0.053813,1.279287
std,2.974371e+17,0.000000e+00,1.526932e+08,518.345903,773.512816,0.057145,0.055965,2.078531,NaN,0.761452,...,0.539053,0.412296,0.432444,0.408667,0.489590,68.874393,56.446665,40.092884,0.591008,1.935098
min,2.595000e+03,2.022120e+13,2.438000e+03,1.000000,1.000000,40.500314,-74.249840,0.000000,NaN,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,1.835861e+07,2.022120e+13,1.491162e+07,1.000000,1.000000,40.687750,-73.982410,2.000000,NaN,1.000000,...,4.500000,4.800000,4.800000,4.640000,4.550000,1.000000,0.000000,0.000000,0.000000,0.140000
50%,4.117861e+07,2.022120e+13,6.561181e+07,2.000000,3.000000,40.723830,-73.953156,2.000000,NaN,1.000000,...,4.800000,4.950000,4.960000,4.860000,4.770000,1.000000,1.000000,0.000000,0.000000,0.580000
75%,5.477978e+17,2.022120e+13,2.418897e+08,5.000000,7.000000,40.762200,-73.924990,4.000000,NaN,2.000000,...,5.000000,5.000000,5.000000,5.000000,4.950000,4.000000,1.000000,2.000000,0.000000,1.880000
max,7.741268e+17,2.022120e+13,4.899967e+08,4559.000000,12017.000000,40.911380,-73.710870,16.000000,NaN,14.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,487.000000,487.000000,345.000000,15.000000,102.980000

In [60]:
df_newjersey.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,1.260000e+03,1.260000e+03,1.260000e+03,1260.000000,1260.000000,0.0,1260.000000,1260.000000,1260.000000,0.0,...,1049.000000,1049.000000,1049.000000,1049.000000,0.0,1260.000000,1260.000000,1260.000000,1260.000000,1049.000000
mean,3.227006e+17,2.022123e+13,2.482281e+08,17.404762,26.545238,NaN,40.734886,-74.190626,3.306349,NaN,...,4.707331,4.701030,4.391687,4.558227,NaN,11.066667,2.500794,8.415079,0.150794,1.881697
std,3.533176e+17,0.000000e+00,1.553622e+08,48.772702,86.398730,NaN,0.018309,0.021173,2.497616,NaN,...,0.575769,0.572559,0.613601,0.594690,NaN,14.652458,4.561381,14.158972,0.642269,1.748285
min,6.203300e+04,2.022123e+13,1.727000e+04,1.000000,1.000000,NaN,40.686980,-74.248710,1.000000,NaN,...,1.000000,1.000000,1.000000,1.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.020000
25%,4.418791e+07,2.022123e+13,8.832780e+07,2.000000,3.000000,NaN,40.722282,-74.208505,2.000000,NaN,...,4.690000,4.670000,4.180000,4.440000,NaN,2.000000,0.000000,0.000000,0.000000,0.540000
50%,5.334671e+07,2.022123e+13,2.478243e+08,6.000000,8.000000,NaN,40.735365,-74.188905,2.000000,NaN,...,4.880000,4.890000,4.520000,4.720000,NaN,5.000000,1.000000,2.000000,0.000000,1.290000
75%,7.121360e+17,2.022123e+13,3.928982e+08,20.000000,21.000000,NaN,40.746493,-74.173433,4.000000,NaN,...,5.000000,5.000000,4.750000,4.900000,NaN,12.000000,2.000000,8.000000,0.000000,2.740000
max,7.927869e+17,2.022123e+13,4.933660e+08,800.000000,1413.000000,NaN,40.783610,-74.134010,16.000000,NaN,...,5.000000,5.000000,5.000000,5.000000,NaN,55.000000,24.000000,55.000000,5.000000,10.980000

In [61]:
df_washington_DC.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,6.217000e+03,6.217000e+03,6.217000e+03,6217.000000,6217.000000,0.0,6217.000000,6217.000000,6217.000000,0.0,...,4901.000000,4901.000000,4901.000000,4901.000000,4901.000000,6217.000000,6217.000000,6217.000000,6217.000000,4925.000000
mean,1.507328e+17,2.022122e+13,1.154536e+08,250.971047,356.891748,NaN,38.910146,-77.015140,3.660608,NaN,...,4.756888,4.861188,4.843016,4.776372,4.694134,28.792826,21.052759,7.314139,0.322020,1.855131
std,2.841390e+17,0.000000e+00,1.327067e+08,890.629849,1210.126587,NaN,0.024366,0.030696,2.408823,NaN,...,0.367120,0.314026,0.340186,0.357612,0.400850,58.787649,50.685333,29.638300,1.804618,2.355270
min,3.686000e+03,2.022122e+13,4.492000e+03,1.000000,1.000000,NaN,38.820780,-77.109000,0.000000,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,2.084250e+07,2.022122e+13,1.601717e+07,1.000000,2.000000,NaN,38.897556,-77.034850,2.000000,NaN,...,4.680000,4.860000,4.830000,4.710000,4.630000,1.000000,1.000000,0.000000,0.000000,0.320000
50%,4.187946e+07,2.022122e+13,5.038247e+07,3.000000,4.000000,NaN,38.909550,-77.017540,3.000000,NaN,...,4.870000,4.950000,4.950000,4.890000,4.800000,2.000000,1.000000,0.000000,0.000000,1.190000
75%,5.353049e+07,2.022122e+13,1.747920e+08,19.000000,30.000000,NaN,38.922870,-76.995360,4.000000,NaN,...,4.980000,5.000000,5.000000,5.000000,4.910000,13.000000,5.000000,1.000000,0.000000,2.730000
max,7.855798e+17,2.022122e+13,4.915968e+08,4608.000000,7476.000000,NaN,38.992140,-76.909270,16.000000,NaN,...,5.000000,5.000000,5.000000,5.000000,5.000000,214.000000,214.000000,170.000000,20.000000,88.950000

In [62]:
grouping_df = [df_newyork, df_newjersey, df_washington_DC]

In [63]:
final_df = pd.concat(grouping_df)

In [64]:
final_df

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,location
0,2595,https://www.airbnb.com/rooms/2595,20221204162430,2022-12-05,city scrape,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,...,4.81,4.40,NaN,f,3,3,0,0,0.31,New york
1,5203,https://www.airbnb.com/rooms/5203,20221204162430,2022-12-05,previous scrape,Cozy Clean Guest Room - Family Apt,"Our best guests are seeking a safe, clean, spa...",Our neighborhood is full of restaurants and ca...,https://a0.muscache.com/pictures/103776/b37157...,7490,...,4.94,4.92,NaN,f,1,0,1,0,0.73,New york
2,5136,https://www.airbnb.com/rooms/5136,20221204162430,2022-12-04,city scrape,"Spacious Brooklyn Duplex, Patio + Garden",We welcome you to stay in our lovely 2 br dupl...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,7378,...,4.67,5.00,NaN,f,1,1,0,0,0.03,New york
3,5121,https://www.airbnb.com/rooms/5121,20221204162430,2022-12-05,city scrape,BlissArtsSpace!,One room available for rent in a 2 bedroom apt...,NaN,https://a0.muscache.com/pictures/2090980c-b68e...,7356,...,4.47,4.52,NaN,f,2,0,2,0,0.30,New york
4,6848,https://www.airbnb.com/rooms/6848,20221204162430,2022-12-05,city scrape,Only 2 stops to Manhattan studio,Comfortable studio apartment with super comfor...,NaN,https://a0.muscache.com/pictures/e4f031a7-f146...,15991,...,4.67,4.56,NaN,f,1,1,0,0,1.13,New york
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6212,155859,https://www.airbnb.com/rooms/155859,20221220053924,2022-12-20,city scrape,~Upper North West GuestNest DC,-Guest Room w/ Private Bath for 31-62 days<br ...,We are in an historic African American and Jew...,https://a0.muscache.com/pictures/07116fe3-f86f...,745305,...,4.71,4.87,NaN,f,2,1,1,0,0.94,Washington D.C
6213,164069,https://www.airbnb.com/rooms/164069,20221220053924,2022-12-20,city scrape,Bedroom in Lower Level Apartment,Please contact me before booking to make sure ...,My rowhouse is centrally located in the heart ...,https://a0.muscache.com/pictures/b5b93422-e52d...,5059,...,4.46,4.70,Hosted License: 5007242201001033,f,4,0,4,0,1.43,Washington D.C
6214,174808,https://www.airbnb.com/rooms/174808,20221220053924,2022-12-20,city scrape,Historic American Four Square,This listing is for a room in a restored Ameri...,NaN,https://a0.muscache.com/pictures/5f17e80d-ffa5...,835242,...,4.67,4.95,Hosted License: 5007242201001736,f,1,0,1,0,0.70,Washington D.C
6215,175608,https://www.airbnb.com/rooms/175608,20221220053924,2022-12-20,city scrape,People's Place - Convention Center,Semi furnished 2 bedroom. The apartment now h...,NaN,https://a0.muscache.com/pictures/1116440/e256a...,50148,...,4.68,4.48,NaN,f,3,3,0,0,1.36,Washington D.C
6216,178395,https://www.airbnb.com/rooms/178395,20221220053924,2022-12-20,city scrape,"Spare Room for Washington,DC Visit or entire h...",Project<br /><br />Four bedroom and 2.5 bathro...,Manor Park,https://a0.muscache.com/pictures/1136591/7c34d...,852801,...,NaN,NaN,NaN,f,2,1,1,0,NaN,Washington D.C